
<h1><%= meetup.name %></h1>
<p>Location: <%= meetup.location %></p>

<p>Description: <%= meetup.description %></p>

<form class="/meetup/<%=meetup.id%>" method="post">
<input type="submit" value="Join Meetup!">
</form>
